[submodule "Externals/jsoncpp"]
	path = Externals/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "Externals/boost"]
	path = Externals/boost
	url = https://github.com/boostorg/boost.git
[submodule "Externals/freetype2"]
	path = Externals/freetype2
	url = git://git.savannah.gnu.org/freetype/freetype2.git
[submodule "Externals/gli"]
	path = Externals/gli
	url = https://github.com/g-truc/gli
[submodule "Externals/zlib"]
	path = Externals/zlib
	url = https://github.com/madler/zlib.git
[submodule "Externals/openal-soft"]
	path = Externals/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "Externals/libogg"]
	path = Externals/libogg
	url = https://github.com/xiph/ogg.git
[submodule "Externals/libvorbis"]
	path = Externals/libvorbis
	url = https://github.com/xiph/vorbis.git
[submodule "Externals/luaDist"]
	path = Externals/luaDist
	url = https://github.com/LuaDist/lua.git
[submodule "Externals/glm"]
	path = Externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "Externals/googletest"]
	path = Externals/googletest
	url = https://github.com/google/googletest.git
